.bandeira{
    height: 210;
    width: 270;
    border-radius: 30px;
    border: solid 10px black;
    margin: 30px;
}
.pagina{
    background: burlywood;
}
.conteudo{
    border: solid 10px black;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
}